header {
  height: 100vh;
  overflow: hidden;
  padding-top: 7rem;
}

.header__container {
  position: relative;
  height: 100%;
  text-align: center;
}

.cta {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin-top: 2.5rem;
}

.header__socials {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.me {
  position: absolute;
  width: 22rem;
  height: 30rem;
  background: linear-gradient(var(--color-primary), transparent);
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.scroll__down {
  position: absolute;
  font-size: 0.9rem;
  font-weight: 300;
  transform: rotate(90deg);
  right: -2.3rem;
  bottom: 5rem;
}

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
